soap-client/src/main/resources/ws/account.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://axity.com.mx/webapi/soap/api/ws/account" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://axity.com.mx/webapi/soap/api/ws/account" targetNamespace="http://axity.com.mx/webapi/soap/api/ws/account">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://axity.com.mx/webapi/soap/api/ws/account">

  <xs:complexType name="Person">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="lastname" type="xs:string"/>
      <xs:element name="email" type="xs:string"/>
      <xs:element name="active" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Account">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
      <xs:element name="person" type="tns:Person"/>
      <xs:element name="balance" type="xs:decimal"/>
      <xs:element name="movements" type="tns:AccountMovementList"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AccountMovement">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
      <xs:element name="accountId" type="xs:int"/>
      <xs:element name="amount" type="xs:decimal"/>
      <xs:element name="movementType" type="tns:MovementType"/>
      <xs:element name="movementTimestamp" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="MovementType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AddBalance"/>
      <xs:enumeration value="BalanceWithdrawal"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="AccountMovementList">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="accountMovement" type="tns:AccountMovement"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Header">
    <xs:sequence>
      <xs:element name="code" type="xs:int"/>
      <xs:element name="message" type="xs:string"/>
      <xs:element name="details" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="GetAccountRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id" type="xs:int"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="GetAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="header" type="tns:Header"/>
        <xs:element name="body" type="tns:Account"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="GetAccountResponse">
    <wsdl:part element="tns:GetAccountResponse" name="GetAccountResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetAccountRequest">
    <wsdl:part element="tns:GetAccountRequest" name="GetAccountRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="AccountPort">
    <wsdl:operation name="GetAccount">
      <wsdl:input message="tns:GetAccountRequest" name="GetAccountRequest">
    </wsdl:input>
      <wsdl:output message="tns:GetAccountResponse" name="GetAccountResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AccountPortSoap11" type="tns:AccountPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetAccount">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetAccountRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetAccountResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccountPortService">
    <wsdl:port binding="tns:AccountPortSoap11" name="AccountPortSoap11">
      <soap:address location="http://localhost:8080/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>