soap-client/src/main/resources/ws/person.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://axity.com.mx/webapi/soap/api/ws/person" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://axity.com.mx/webapi/soap/api/ws/person" targetNamespace="http://axity.com.mx/webapi/soap/api/ws/person">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://axity.com.mx/webapi/soap/api/ws/person">

  <xs:complexType name="Person">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="lastname" type="xs:string"/>
      <xs:element name="email" type="xs:string"/>
      <xs:element name="active" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Header">
    <xs:sequence>
      <xs:element name="code" type="xs:int"/>
      <xs:element name="message" type="xs:string"/>
      <xs:element name="details" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PersonList">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="person" type="tns:Person"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PaginatedPerson">
    <xs:sequence>
      <xs:element name="items" type="tns:PersonList"/>
      <xs:element name="size" type="xs:int"/>
      <xs:element name="offset" type="xs:int"/>
      <xs:element name="records" type="xs:long"/>
      <xs:element name="pages" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="GetPersonRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id" type="xs:int"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="GetPersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="header" type="tns:Header"/>
        <xs:element name="body" type="tns:Person"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="GetPersonsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="size" type="xs:int"/>
        <xs:element name="offset" type="xs:int"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="GetPersonsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="header" type="tns:Header"/>
        <xs:element name="body" type="tns:PaginatedPerson"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="CreatePersonRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="person" type="tns:Person"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="CreatePersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="header" type="tns:Header"/>
        <xs:element name="body" type="tns:Person"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="UpdatePersonRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="person" type="tns:Person"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="UpdatePersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="header" type="tns:Header"/>
        <xs:element name="body" type="tns:Person"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="DeletePersonRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id" type="xs:int"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="DeletePersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="header" type="tns:Header"/>
        <xs:element name="body" type="tns:Person"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>



</xs:schema>
  </wsdl:types>
  <wsdl:message name="UpdatePersonResponse">
    <wsdl:part element="tns:UpdatePersonResponse" name="UpdatePersonResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DeletePersonRequest">
    <wsdl:part element="tns:DeletePersonRequest" name="DeletePersonRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetPersonsRequest">
    <wsdl:part element="tns:GetPersonsRequest" name="GetPersonsRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetPersonsResponse">
    <wsdl:part element="tns:GetPersonsResponse" name="GetPersonsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CreatePersonResponse">
    <wsdl:part element="tns:CreatePersonResponse" name="CreatePersonResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CreatePersonRequest">
    <wsdl:part element="tns:CreatePersonRequest" name="CreatePersonRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DeletePersonResponse">
    <wsdl:part element="tns:DeletePersonResponse" name="DeletePersonResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UpdatePersonRequest">
    <wsdl:part element="tns:UpdatePersonRequest" name="UpdatePersonRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetPersonResponse">
    <wsdl:part element="tns:GetPersonResponse" name="GetPersonResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetPersonRequest">
    <wsdl:part element="tns:GetPersonRequest" name="GetPersonRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PersonPort">
    <wsdl:operation name="UpdatePerson">
      <wsdl:input message="tns:UpdatePersonRequest" name="UpdatePersonRequest">
    </wsdl:input>
      <wsdl:output message="tns:UpdatePersonResponse" name="UpdatePersonResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePerson">
      <wsdl:input message="tns:DeletePersonRequest" name="DeletePersonRequest">
    </wsdl:input>
      <wsdl:output message="tns:DeletePersonResponse" name="DeletePersonResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersons">
      <wsdl:input message="tns:GetPersonsRequest" name="GetPersonsRequest">
    </wsdl:input>
      <wsdl:output message="tns:GetPersonsResponse" name="GetPersonsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreatePerson">
      <wsdl:input message="tns:CreatePersonRequest" name="CreatePersonRequest">
    </wsdl:input>
      <wsdl:output message="tns:CreatePersonResponse" name="CreatePersonResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPerson">
      <wsdl:input message="tns:GetPersonRequest" name="GetPersonRequest">
    </wsdl:input>
      <wsdl:output message="tns:GetPersonResponse" name="GetPersonResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PersonPortSoap11" type="tns:PersonPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="UpdatePerson">
      <soap:operation soapAction=""/>
      <wsdl:input name="UpdatePersonRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="UpdatePersonResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePerson">
      <soap:operation soapAction=""/>
      <wsdl:input name="DeletePersonRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="DeletePersonResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersons">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetPersonsRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetPersonsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreatePerson">
      <soap:operation soapAction=""/>
      <wsdl:input name="CreatePersonRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="CreatePersonResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPerson">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetPersonRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetPersonResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PersonPortService">
    <wsdl:port binding="tns:PersonPortSoap11" name="PersonPortSoap11">
      <soap:address location="http://localhost:8080/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>